In [1]:
import pandas as pd

In [2]:
all_data = pd.read_excel('C:\sample_invoice_output\matsya\janfebmarapr2024_remove_dup.xlsx')
all_data

,Filename,Invoice Date,Traveler Name,Start Date,End Date,Source City,Source Country,Destination City,Destination Country,Supplier Name
0,DS_1119,27-12-2023,ASHISH PROOTHI,2024-01-08 00:00:00,2024-01-08 00:00:00,New Delhi,IN,Ahmedabad,IN,MATSYA TRAVEL SERVICES PVT. LTD.
1,DS_1119,27-12-2023,ASHISH PROOTHI,2024-01-11 00:00:00,2024-01-11 00:00:00,Ahmedabad,IN,New Delhi,IN,MATSYA TRAVEL SERVICES PVT. LTD.
2,DS_1120,27-12-2023,PRABHPREET KAUR,2024-01-08 00:00:00,2024-01-08 00:00:00,New Delhi,IN,Ahmedabad,IN,MATSYA TRAVEL SERVICES PVT. LTD.
3,DS_1120,27-12-2023,PRABHPREET KAUR,2024-01-15 00:00:00,2024-01-15 00:00:00,Udaipur,IN,New Delhi,IN,MATSYA TRAVEL SERVICES PVT. LTD.
4,DS_1121,27-12-2023,NEERAJ GUPTA,2024-01-07 00:00:00,2024-01-07 00:00:00,New Delhi,IN,Bangalore,IN,MATSYA TRAVEL SERVICES PVT. LTD.
...,...,...,...,...,...,...,...,...,...,...
588,IS_2248,2024-03-12 00:00:00,ASHWINI RAVI,2024-06-14 00:00:00,2024-06-14 00:00:00,Mumbai,IN,Chennai,IN,MATSYA TRAVEL SERVICES PVT. LTD.
589,IS_2253,2024-03-12 00:00:00,MADHUR ARYA,2024-03-14 00:00:00,2024-03-14 00:00:00,London,UK,Amsterdam,NL,MATSYA TRAVEL SERVICES PVT. LTD.
590,IS_2253,2024-03-12 00:00:00,MADHUR ARYA,2024-03-15 00:00:00,2024-03-15 00:00:00,Amsterdam,NL,London,UK,MATSYA TRAVEL SERVICES PVT. LTD.
591,IS_2262,2024-03-15 00:00:00,MADHUR ARYA,2024-07-12 00:00:00,2024-07-12 00:00:00,London,UK,New Delhi,IN,MATSYA TRAVEL SERVICES PVT. LTD.
592,IS_2262,2024-03-15 00:00:00,MADHUR ARYA,2024-07-12 00:00:00,2024-07-12 00:00:00,New Delhi,IN,London,UK,MATSYA TRAVEL SERVICES PVT. LTD.

In [14]:
words = ['date', 'seat', 'excess', 'flight', 'change', 'charge']
df1 = pd.DataFrame(columns=all_data.columns)
for index, row in all_data.iterrows():
    traveler_name = row['Traveler Name']
    split_trav_name = traveler_name.split()
    for stn in split_trav_name:
        if stn.lower() in words:
            df1 = df1.append(row)
            break
df1

C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_25204/1997692108.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row)

,Filename,Invoice Date,Traveler Name,Start Date,End Date,Source City,Source Country,Destination City,Destination Country,Supplier Name
57,IS_1880,2024-03-01 00:00:00,AKSHAT JALAN SEAT CHARGES,2024-01-07 00:00:00,2024-01-07 00:00:00,New Delhi,IN,Istanbul,TR,MATSYA TRAVEL SERVICES PVT. LTD.
58,IS_1880,2024-03-01 00:00:00,AKSHAT JALAN SEAT CHARGES,2024-01-07 00:00:00,2024-01-07 00:00:00,Istanbul,TR,Atlanta,US,MATSYA TRAVEL SERVICES PVT. LTD.
61,IS_1887,2024-05-01 00:00:00,ARVIND KUMAR SHARMA SEAT,2024-01-06 00:00:00,2024-01-06 00:00:00,New Delhi,IN,Paris,FR,MATSYA TRAVEL SERVICES PVT. LTD.
82,IS_1924,2024-01-12 00:00:00,PRIYADARSHI UTKARSH DATE,2024-01-27 00:00:00,2024-01-27 00:00:00,Dubai,AE,New Delhi,IN,MATSYA TRAVEL SERVICES PVT. LTD.
105,IS_1943,2024-01-15 00:00:00,GLORY NELSON SEAT CHARGES,2024-01-15 00:00:00,2024-01-15 00:00:00,Atlanta,US,Istanbul,TR,MATSYA TRAVEL SERVICES PVT. LTD.
106,IS_1943,2024-01-15 00:00:00,GLORY NELSON SEAT CHARGES,2024-01-15 00:00:00,2024-01-15 00:00:00,Istanbul,TR,New Delhi,IN,MATSYA TRAVEL SERVICES PVT. LTD.
111,IS_1957,2024-01-17 00:00:00,SWARNA PRADHAN PRAVA SEAT,2024-01-18 00:00:00,2024-01-18 00:00:00,Atlanta,US,Istanbul,TR,MATSYA TRAVEL SERVICES PVT. LTD.
112,IS_1957,2024-01-17 00:00:00,SWARNA PRADHAN PRAVA SEAT,2024-01-18 00:00:00,2024-01-18 00:00:00,Istanbul,TR,New Delhi,IN,MATSYA TRAVEL SERVICES PVT. LTD.
113,IS_1958,2024-01-17 00:00:00,AKSHAT JALAN SEAT CHARGES,2024-01-20 00:00:00,2024-01-20 00:00:00,Atlanta,US,Istanbul,TR,MATSYA TRAVEL SERVICES PVT. LTD.
114,IS_1958,2024-01-17 00:00:00,AKSHAT JALAN SEAT CHARGES,2024-01-20 00:00:00,2024-01-20 00:00:00,Istanbul,TR,New Delhi,IN,MATSYA TRAVEL SERVICES PVT. LTD.
117,IS_1962,17-01-2024,ASHISH PROOTHI DATE CHANG,2024-01-24,2024-01-24,Sydney,AU,New Delhi,IN,MATSYA TRAVEL SERVICES PVT. LTD.
129,IS_1981,2024-01-20 00:00:00,MEETU SINGH DATE CHANGE,2024-02-01 00:00:00,2024-02-01 00:00:00,New Delhi,IN,Riyadh,SA,MATSYA TRAVEL SERVICES PVT. LTD.
130,IS_1981,2024-01-20 00:00:00,MEETU SINGH DATE CHANGE,2024-02-01 00:00:00,2024-02-01 00:00:00,Riyadh,SA,New Delhi,IN,MATSYA TRAVEL SERVICES PVT. LTD.
248,IS_2145,20-02-2024,ANAND KUMAR SAHAY DATE CH,2024-02-24,2024-02-24,Amsterdam,NL,New Delhi,IN,MATSYA TRAVEL SERVICES PVT. LTD.
403,is_2332,31-03-2024,RAJAT KANWAR GUPTA DATE C,2024-04-02 00:00:00,2024-04-02 00:00:00,New Jersey,US,New Delhi,IN,MATSYA TRAVEL SERVICES PVT. LTD.
466,IS_103,2024-04-20 00:00:00,SOURABH THAKAR FLIGHT UPG,2024-04-20 00:00:00,2024-04-20 00:00:00,New Delhi,IN,Warsaw,PL,MATSYA TRAVEL SERVICES PVT. LTD.
467,IS_103,2024-04-20 00:00:00,SOURABH THAKAR FLIGHT UPG,2024-04-20 00:00:00,2024-04-20 00:00:00,Warsaw,PL,London,UK,MATSYA TRAVEL SERVICES PVT. LTD.
513,IS_20,2024-04-04 00:00:00,ANAND KUMAR SAHAY DATE,2024-04-07 00:00:00,2024-04-07 00:00:00,New Delhi,IN,London,UK,MATSYA TRAVEL SERVICES PVT. LTD.
514,IS_20,2024-04-04 00:00:00,ANAND KUMAR SAHAY DATE,2024-04-07 00:00:00,2024-04-07 00:00:00,London,UK,Amsterdam,NL,MATSYA TRAVEL SERVICES PVT. LTD.
517,IS_46,2024-04-10 00:00:00,ANAND KUMAR SAHAY DATE CH,2024-04-14 00:00:00,2024-04-14 00:00:00,London,UK,Amsterdam,NL,MATSYA TRAVEL SERVICES PVT. LTD.

In [15]:
import pandas as pd

data = pd.read_excel('janfebmarapr2024.xlsx')
data

,Filename,Invoice Date,Traveler Name,Start Date,End Date,Source City,Source Country,Destination City,Destination Country,Supplier Name
0,DS_1119,27-12-2023,ASHISH PROOTHI,2024-01-08 00:00:00,2024-01-08 00:00:00,New Delhi,IN,Ahmedabad,IN,MATSYA TRAVEL SERVICES PVT. LTD.
1,DS_1119,27-12-2023,ASHISH PROOTHI,2024-01-11 00:00:00,2024-01-11 00:00:00,Ahmedabad,IN,New Delhi,IN,MATSYA TRAVEL SERVICES PVT. LTD.
2,DS_1120,27-12-2023,PRABHPREET KAUR,2024-01-08 00:00:00,2024-01-08 00:00:00,New Delhi,IN,Ahmedabad,IN,MATSYA TRAVEL SERVICES PVT. LTD.
3,DS_1120,27-12-2023,PRABHPREET KAUR,2024-01-15 00:00:00,2024-01-15 00:00:00,Udaipur,IN,New Delhi,IN,MATSYA TRAVEL SERVICES PVT. LTD.
4,DS_1121,27-12-2023,NEERAJ GUPTA,2024-01-07 00:00:00,2024-01-07 00:00:00,New Delhi,IN,Bangalore,IN,MATSYA TRAVEL SERVICES PVT. LTD.
...,...,...,...,...,...,...,...,...,...,...
626,IS_2248,2024-03-12 00:00:00,ASHWINI RAVI,2024-06-14 00:00:00,2024-06-14 00:00:00,Mumbai,IN,Chennai,IN,MATSYA TRAVEL SERVICES PVT. LTD.
627,IS_2253,2024-03-12 00:00:00,MADHUR ARYA,2024-03-14 00:00:00,2024-03-14 00:00:00,London,UK,Amsterdam,NL,MATSYA TRAVEL SERVICES PVT. LTD.
628,IS_2253,2024-03-12 00:00:00,MADHUR ARYA,2024-03-15 00:00:00,2024-03-15 00:00:00,Amsterdam,NL,London,UK,MATSYA TRAVEL SERVICES PVT. LTD.
629,IS_2262,2024-03-15 00:00:00,MADHUR ARYA,2024-07-12 00:00:00,2024-07-12 00:00:00,London,UK,New Delhi,IN,MATSYA TRAVEL SERVICES PVT. LTD.
630,IS_2262,2024-03-15 00:00:00,MADHUR ARYA,2024-07-12 00:00:00,2024-07-12 00:00:00,New Delhi,IN,London,UK,MATSYA TRAVEL SERVICES PVT. LTD.

In [ ]:
data['Start Date'] = pd.to_datetime(data['Start Date'])
data['End Date'] = pd.to_datetime(data['End Date'])
data['Invoice Date'] = pd.to_datetime(data['Invoice Date'])
data

In [13]:
data = pd.read_excel('C:\sample_invoice_output\matsya\janfebmarapr2024_remove_dup.xlsx')

In [14]:
traveler_names = list(data['Traveler Name'])
# print(traveler_names)

new_traveler_names = []
for tname in traveler_names:
    words = tname.split()
    if len(words) > 2:
        if 'mr' in words[0].lower() or 'ms' in words[0].lower():
            new_traveler_names.append(' '.join(words[1:3]))
        else:
            new_traveler_names.append(' '.join(words[:3]))
    else:
        if 'mr' in words[0].lower() or 'ms' in words[0].lower():
            new_traveler_names.append(' '.join(words[1:]))
        else:
            new_traveler_names.append(' '.join(words))

print(len(new_traveler_names))

593

In [15]:
data['New Traveler Name'] = new_traveler_names

In [16]:
# data = pd.read_excel('C:\sample_invoice_output\matsya\janfebmarapr2024_remove_dup.xlsx')
dups = data[data.duplicated(subset=['New Traveler Name', 'Start Date', 'End Date', 'Source City', 'Destination City'], keep=False)]
dups

Empty DataFrame
Columns: [Filename, Invoice Date, Traveler Name, Start Date, End Date, Source City, Source Country, Destination City, Destination Country, Supplier Name, New Traveler Name]
Index: []

In [19]:
dups.to_excel('dups_janfebmarapr_2024.xlsx')

In [20]:
## preprocessing_pipeline

from PIL import Image, ImageEnhance
import cv2
import numpy as np
from skimage import io
from skimage.transform import rotate
from skimage.color import rgb2gray
# from deskew import determine_skew
from matplotlib import pyplot as plt
from pdf2image import convert_from_path
import shutil
import glob
import os

def set_dpi(image, preproc_image):
    im = Image.open(image)
    im.save(preproc_image, dpi=(300,300))
    return preproc_image

def increase_contrast(image, preproc_image):
    im = Image.open(image)
    enhancer = ImageEnhance.Contrast(im)
    factor = 2 #increase contrast
    im_output = enhancer.enhance(factor)
    im_output.save(preproc_image)
    return preproc_image

def increase_sharpness(image, preproc_image):
    im = Image.open(image)
    enhancer = ImageEnhance.Sharpness(im)
    factor = 2
    im_output = enhancer.enhance(factor)
    im_output.save(preproc_image)
    return preproc_image

def convert_to_grayscale(image, preproc_image):
    im = cv2.imread(image)
    im = cv2.cvtColor(im, cv2.COLOR_BGR2GRAY)
    cv2.imwrite(preproc_image, im)
    return preproc_image

def convert_to_rgb(image, preproc_image):
    im = cv2.imread(image)
    im = cv2.cvtColor(im, cv2.COLOR_BGR2RGB)
    cv2.imwrite(preproc_image, im)
    return preproc_image

def otsu_threshold(image, preproc_image):
    im = cv2.imread(image)
    im = cv2.cvtColor(im, cv2.COLOR_BGR2GRAY)
    # im = cv2.threshold(im, 120, 255, cv2.THRESH_BINARY, cv2.THRESH_OTSU)[1]
    im = cv2.adaptiveThreshold(im,255,cv2.ADAPTIVE_THRESH_GAUSSIAN_C,cv2.THRESH_BINARY,11,2)
    cv2.imwrite(preproc_image, im)
    return preproc_image

def remove_noise(image, preproc_image):
    im = cv2.imread(image)
    im = cv2.fastNlMeansDenoising(im, None, 20, 7, 21)
    cv2.imwrite(preproc_image, im)
    return preproc_image

# def deskew(image):
#     try:
#         print("IMAGE --> ", image)
#         im = io.imread(image)
#         angle = determine_skew(im)
#         rotated = rotate(im, angle, resize=True) * 255
#         io.imsave(image, rotated.astype(np.uint8))
#         return image
#     except:
#         return image 

def pdf_to_images(pdf, filename):
    try:
        pdf = pdf.replace('\\', '\\\\')
        # print(pdf)
        images = convert_from_path(pdf)
        for i in range(len(images)):
            images[i].save('C:\\air_ticket\\comakeit_groundtravel\\images\\{}_page{}'.format(filename, i) +'.jpg', 'JPEG')
    except:
        print("\n PDF --> ", pdf)

def get_pdf_image():
    path = "C:\\Users\\Lenovo\\Downloads\\coMakIT-FInal data\\Business Travel Emission Management\\Ground Travel"
    #store all the file names in this list
    filelist = []
    for root, dirs, files in os.walk(path):
        for file in files:
            #append the file name to the list
            filelist.append(os.path.join(root,file))
    # print all the file names
    for file in filelist:
        filename = os.path.split(file)[-1].split('.pdf')[0]
        if ' ' in filename:
            filename = filename.replace(' ', '_')
        # print(filename)
        pdf_to_images(file, filename)

def preprocess_files():
    # print('hello')
    combinations = ['convert_to_grayscale-set_dpi', 'increase_contrast-increase_sharpness-set_dpi', 'increase_contrast-convert_to_grayscale-set_dpi', 'convert_to_grayscale-remove_noise-set_dpi', 'increase_contrast-convert_to_grayscale-remove_noise-set_dpi',
                   'convert_to_rgb-set_dpi']
    # combinations = ['set_dpi-increase_contrast-increase_sharpness']
    # combinations = ['convert_to_rgb-set_dpi']
    psms = [3,4,6,11,12]
    for image in glob.glob('C:\\matsya\\us_dl\\*'):
        # print('helloo')
        print("\n IMAGE --> ", image)
        # filename = os.path.split(image)[-1].split('.jpg')[0]
        # preproc_image = 'preprocess_images\\'+filename+'.jpg'
        # shutil.copy(image, preproc_image)
        for combination in combinations:
            filename = os.path.split(image)[-1].split('.jpg')[0]
            preproc_image = 'C:\\matsya\\us_dl_preprocess\\'+filename+'.jpg'
            shutil.copy(image, preproc_image)
            methods = combination.split('-')
            for method in methods:
                if 'deskew' in method:
                    preproc_image = eval(method+'(preproc_image)')
                else:
                    preproc_image = eval(method+'(preproc_image, preproc_image)')
            # print(combination)
            image_name = 'C:\\matsya\\us_dl_preprocess\\' + filename+'_'+combination+'.jpg'
            print(image_name)
            img = cv2.imread(preproc_image)
            cv2.imwrite(image_name, img)

            for psm in psms:
                parsed_output = 'C:\\matsya\\us_dl_text\\'+filename+'_'+str(psm)+'_'+combination
                command = 'tesseract {} {} -l eng --psm {}'.format(image_name, parsed_output, psm)
                os.system(command)

# get_pdf_image()
preprocess_files()

 IMAGE -->  C:\matsya\us_dl\dl_6.jpg
C:\matsya\us_dl_preprocess\dl_6_convert_to_grayscale-set_dpi.jpg
C:\matsya\us_dl_preprocess\dl_6_increase_contrast-increase_sharpness-set_dpi.jpg
C:\matsya\us_dl_preprocess\dl_6_increase_contrast-convert_to_grayscale-set_dpi.jpg
C:\matsya\us_dl_preprocess\dl_6_convert_to_grayscale-remove_noise-set_dpi.jpg
C:\matsya\us_dl_preprocess\dl_6_increase_contrast-convert_to_grayscale-remove_noise-set_dpi.jpg
C:\matsya\us_dl_preprocess\dl_6_convert_to_rgb-set_dpi.jpg

 IMAGE -->  C:\matsya\us_dl\dl_7.jpg
C:\matsya\us_dl_preprocess\dl_7_convert_to_grayscale-set_dpi.jpg
C:\matsya\us_dl_preprocess\dl_7_increase_contrast-increase_sharpness-set_dpi.jpg
C:\matsya\us_dl_preprocess\dl_7_increase_contrast-convert_to_grayscale-set_dpi.jpg
C:\matsya\us_dl_preprocess\dl_7_convert_to_grayscale-remove_noise-set_dpi.jpg
C:\matsya\us_dl_preprocess\dl_7_increase_contrast-convert_to_grayscale-remove_noise-set_dpi.jpg
C:\matsya\us_dl_preprocess\dl_7_convert_to_rgb-set_dpi.jpg

In [22]:
a = "Python"
b = list(a)
print(b)
b[0] = "J"
c = ''.join(b)
print(c)

['P', 'y', 't', 'h', 'o', 'n']
Jython